<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="11st browser API">
    <meta name="author" content="http://www.skplanet.com">
    <title>Alfred</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      $(document).ready(
        function() {
          $('#imagefile').change(
            function() {
              if ($(this).val()) {
                $('#formupload').submit();
              }
            }
          );
        }
      );
    </script>

    <style>
      body {
        font-family: "Gill Sans", Helvetica, Arial, sans-serif;
        line-height:1.5em;
        color: #232323;
        -webkit-font-smoothing: antialiased;
      }
      h1, h2, h3 {
        font-family: Gill Sans, serif;
        line-height:1.5em;
        border-bottom: 1px solid #ccc;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <center>
      <form role="form" action="request_handler" method="get">
        <div class="form-group">
          <div class="input-group">
            {% if has_result %}
              <input type="text" class="form-control" name="url" id="url" value="{{result['url']}}">
            {% else %}
              <input type="text" class="form-control" name="url" id="url" placeholder="Image search">
            {% endif %}
            <input type="hidden" class="form-control" name="is_browser" id="is_browser" value="1">
            <span class="input-group-btn">
              <input class="btn btn-primary" value="Image Search" type="submit" id="request_handler"></input>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>
      <form id="formupload" class="form-inline" role="form" action="request_handler_upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imagefile">Upload an image:</label>
          <input type="file" name="imagefile" id="imagefile">
        </div>
      </form>
      <form role="form" action="vsm_request_handler" method="get">
        <div class="form-group">
          <div class="input-group">
            {% if has_result and result['result_sentence'] %}
              <input type="text" class="form-control" name="query_string" id="query_string" value="{{result['sentence'][0]}}">
              <input type="hidden" class="form-control" name="url" id="url" value="{{result['url']}}">
            {% else %}
              <input type="text" class="form-control" name="query_string" id="query_string" placeholder="Keyward search">
            {% endif %}
            <input type="hidden" class="form-control" name="is_browser" id="is_browser" value="1">
            <span class="input-group-btn">
              <input class="btn btn-primary" value="Keyward Search" type="submit" id="vsm_request_handler"></input>
            </span>
          </div>
        </div>
      </form>
      </center>


      {% if has_result %}
      <center>
        <img img class="image_show" src="{{result['url']}}" height="292" width="292">
        {% if result['result_category'] %}
          <h3>Category:</h3>
          {% for category_name in result['category_name'] %}
            {{category_name}}({{result['category_scores'][loop.index-1]}}) &nbsp
          {% endfor %}
        {% endif %}
        {% if result['result_sentence'] %}
          <h3>속성 추천:</h3>
          {% for sent in result['sentence'] %}
            {{sent}}&nbsp
          {% endfor %}
          </br>
          {% for word_score in result['sentence_scores'] %}
            {{word_score}},&nbsp
          {% endfor %}
        {% endif %}
        {% if result['result_roi'] %}
          <h3>Detection:</h3>
          <img class="image_show" src="{{result['roi_box_image']}}">
        {% endif %}
        {% if result['result_retrieval'] %}
          <h3>Search result</h3>
          <font size=1>{{flag['number_of_retrieved_docs']}} results in {{flag['total_docs']}} documents ({{flag['elapsed']}} sec.)</font>
          <table class="d_table">
            <tr>
              {% for rank in result['retrieved_item'] %}
                <td>
                  <img img class="image_show" src="{{result['retrieved_item'][rank]['url']}}" height="292" width="292">
                  <br><font size="1">{{result['retrieved_item'][rank]['sentense']}},</br>{{result['retrieved_item'][rank]['score']}}</font>
                </td>
                {% if loop.index is divisibleby 4 %} </tr><tr> {% endif %}
               {% endfor %}
            </tr>
          </table>
        {% endif %}
    {% else %}
      <h3>Welcome</h3>
    {% endif %}
    </center>


    <hr>
    <div id="footer">
      <div class="container">
        <p>&copy; Machine Intelligence Lab., SK Planet</p>
      </div>
    </div>
  </body>
</html>
